REACT_APP_CCDI_CBIO_IFRAME_URL=http://localhost:3000
REACT_APP_CCDI_CBIO_CONTENT_UI_URL=http://localhost:3001
REACT_APP_CCDI_CBIO_ABOUT_URL=http://localhost:3001/about
REACT_APP_VERSION=
REACT_APP_API_VERSION=http://localhost:8080/api/info
REACT_APP_SESSION_SERVICE_VERSION=http://localhost:8090/info
REACT_APP_CONTENT_UI_VERSION=http://localhost:3001/version.json
REACT_APP_FRONTEND_VERSION=http://localhost:3000/reactapp/version.json